{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}


        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <label for="inputEmail">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputUsername">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" required>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
&nbsp &nbsp &nbsp &nbsp
        <button class="btn btn-lg btn-primary" type="submit">
            <b>Register</b>
        </button>
    </form>
    <br>
    <a href="{{ url('auction_list') }}">
        <button style="background-color: rgba(0,0,0,0);
        font-size:150%;height: 100px; width:200px ">
            <b>&laquo; back</b></button></a>
{% endblock %}
