{% extends 'base.html.twig' %}

{% block title %}New IsBid{% endblock %}

{% block body %}
    <h1>Create new IsBid</h1>

    {{ include('is_bid/_form.html.twig') }}

    <a href="{{ path('is_bid_index') }}">back to list</a>
{% endblock %}
