{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <h2>welcome to ...</h2>
    <div align="center"><a href="{{ url('auction_list') }}">
            <button style="width:200px;height:70px"><h1>auction.com</h1></button></a></div>

{% endblock %}
