{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <h1 align="center"> welcome to my fokin auction site</h1>
    <a href="{{ url('auction_list') }}">list of open auctions</a>
{% endblock %}
